@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 110%;
  /* height: 100vh; */
  font-family: 'Montserrat', sans-serif !important;
  line-height: 2;
}

body {
  height: 100%;
  font-weight: 500;
  background-color: #234363;
  color: #fff;
}

.main {
  height: 200vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
}