.name h1 {
    font-size: 3.5em;
    letter-spacing: 6px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .name h1 {
        font-size: 1.7em;
        letter-spacing: 6px;
        text-align: center;
    }
}